{
  "openapi": "3.1.0",
  "info": {
    "title": "easy-predict Time Series Prediction API",
    "version": "1.0.0",
    "description": "Agent-first time series prediction via log1p linear extrapolation. All paid endpoints use x402 micropayments on Base (USDC). Calling a paid endpoint without payment returns HTTP 402 with the full PaymentRequirements in the response body.",
    "contact": { "email": "support@easy-predict.com" },
    "x-guidance": "POST /timeseries with X-PAYMENT containing a signed x402 payment payload. Omit X-PAYMENT to receive the 402 payment challenge with exact terms. See /.well-known/x402 for the machine-readable resource list."
  },
  "servers": [{ "url": "https://easy-predict.com" }],
  "x-x402": {
    "version": 1,
    "network": "base",
    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
    "payTo": "0xc99b83818c8865340AC55C45554f377f41c68DBC",
    "facilitator": "https://x402.org/facilitator"
  },
  "paths": {
    "/timeseries": {
      "get": {
        "summary": "Splash page",
        "description": "Human-readable landing page for easy-predict.",
        "security": [],
        "responses": {
          "200": { "description": "HTML splash page" }
        }
      },
      "post": {
        "summary": "Predict the next value in a numeric time series",
        "description": "Accepts a JSON array or an object with a `series` key (3–10 numbers) and returns the next predicted value using log1p linear regression. The endpoint is gated by an x402 micropayment; calling without a valid `X-PAYMENT` header returns HTTP 402 with the full payment terms.",
        "security": [{ "x402": [] }],
        "parameters": [
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Base64-encoded signed x402 EIP-712 payment payload."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": { "type": "number" },
                    "minItems": 3,
                    "maxItems": 10,
                    "example": [1.0, 2.3, 4.1, 6.8, 9.2]
                  },
                  {
                    "type": "object",
                    "required": ["series"],
                    "properties": {
                      "series": {
                        "type": "array",
                        "items": { "type": "number" },
                        "minItems": 3,
                        "maxItems": 10,
                        "example": [1.0, 2.3, 4.1, 6.8, 9.2]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prediction result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["prediction", "method", "slope", "intercept"],
                  "properties": {
                    "prediction": { "type": "number", "description": "Predicted next value (expm1 of the extrapolated log1p point)." },
                    "method":     { "type": "string", "enum": ["log1p-linear-extrapolation"] },
                    "slope":      { "type": "number", "description": "Regression slope in log1p space." },
                    "intercept":  { "type": "number", "description": "Regression intercept in log1p space." }
                  }
                },
                "example": {
                  "prediction": 12.47,
                  "method": "log1p-linear-extrapolation",
                  "slope": 0.218,
                  "intercept": 0.093
                }
              }
            }
          },
          "400": { "description": "Invalid request — bad JSON, wrong type, or series outside 3–10 elements." },
          "402": {
            "description": "Payment Required — missing or invalid x402 payment. Body contains the payment terms.",
            "headers": {
              "X-Payment-Required": {
                "schema": { "type": "string" },
                "description": "Base64-encoded JSON of the full 402 body (x402Version, accepts, facilitator)."
              },
              "PAYMENT-REQUIRED": {
                "schema": { "type": "string" },
                "description": "Same as X-Payment-Required (alternate header name)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["x402Version", "accepts"],
                  "properties": {
                    "x402Version": { "type": "integer", "example": 1 },
                    "error":       { "type": "string" },
                    "accepts":     { "type": "array", "items": { "$ref": "#/components/schemas/PaymentRequirements" } },
                    "facilitator": { "type": "string", "format": "uri" }
                  }
                }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "fixed":   { "mode": "fixed",   "currency": "USD", "amount": "0.001" },
            "dynamic": { "mode": "dynamic", "currency": "USD", "min": "0.001", "max": "0.001" }
          },
          "protocols": [{ "x402": {} }],
          "x402": {
            "version": 1,
            "accepts": [{
              "scheme": "exact",
              "network": "base",
              "maxAmountRequired": "1000",
              "resource": "https://easy-predict.com/timeseries",
              "description": "Predict the next value in a numeric series via log1p linear extrapolation.",
              "mimeType": "application/json",
              "payTo": "0xc99b83818c8865340AC55C45554f377f41c68DBC",
              "maxTimeoutSeconds": 60,
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "extra": { "name": "USD Coin", "version": "2" }
            }],
            "facilitator": "https://x402.org/facilitator"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI discovery document",
        "description": "This OpenAPI 3.1 document. Free to fetch — no payment required.",
        "security": [],
        "responses": {
          "200": { "description": "OpenAPI 3.1 document" }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 resource discovery",
        "description": "Machine-readable list of paid x402 resources and their PaymentRequirements, plus a pointer to /openapi.json. Free to fetch.",
        "security": [],
        "responses": {
          "200": {
            "description": "x402 discovery payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["x402Version", "openapi", "resources"],
                  "properties": {
                    "x402Version": { "type": "integer" },
                    "openapi":     { "type": "string", "format": "uri" },
                    "facilitator": { "type": "string", "format": "uri" },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resource": { "type": "string", "format": "uri" },
                          "method":   { "type": "string" },
                          "accepts":  { "type": "array", "items": { "$ref": "#/components/schemas/PaymentRequirements" } }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PAYMENT",
        "description": "x402 micropayment. Send a base64-encoded signed EIP-712 payment payload. Omitting it returns HTTP 402 with the exact payment terms in the `accepts` array."
      }
    },
    "schemas": {
      "PaymentRequirements": {
        "type": "object",
        "required": ["scheme", "network", "maxAmountRequired", "resource", "payTo", "asset"],
        "properties": {
          "scheme":             { "type": "string", "example": "exact" },
          "network":            { "type": "string", "example": "base" },
          "maxAmountRequired":  { "type": "string", "example": "1000" },
          "resource":           { "type": "string", "format": "uri" },
          "description":        { "type": "string" },
          "mimeType":           { "type": "string" },
          "payTo":              { "type": "string", "description": "EVM wallet address that receives payment." },
          "maxTimeoutSeconds":  { "type": "integer" },
          "asset":              { "type": "string", "description": "ERC-20 contract address." },
          "extra": {
            "type": "object",
            "properties": {
              "name":    { "type": "string" },
              "version": { "type": "string" }
            }
          }
        }
      }
    }
  }
}
