{
  "openapi": "3.1.0",
  "info": {
    "title": "easy-predict Time Series Prediction API",
    "version": "1.0.0",
    "description": "Agent-first time series prediction via log1p linear extrapolation. All paid endpoints use x402 v2 micropayments on Base (USDC). Calling a paid endpoint without payment returns HTTP 402 with the full PaymentRequired body and PAYMENT-REQUIRED header.",
    "contact": { "email": "support@easy-predict.com" },
    "x-guidance": "POST /timeseries with PAYMENT-SIGNATURE containing a signed x402 v2 payment payload. Omit PAYMENT-SIGNATURE to receive the 402 payment challenge with exact terms. See /.well-known/x402 for the machine-readable resource list."
  },
  "servers": [{ "url": "https://easy-predict.com" }],
  "x-x402": {
    "version": 2,
    "network": "eip155:8453",
    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
    "payTo": "0xc99b83818c8865340AC55C45554f377f41c68DBC",
    "facilitator": "https://x402.org/facilitator"
  },
  "paths": {
    "/timeseries": {
      "get": {
        "summary": "Splash page",
        "description": "Human-readable landing page for easy-predict.",
        "security": [],
        "responses": {
          "200": { "description": "HTML splash page" }
        }
      },
      "post": {
        "summary": "Predict the next value in a numeric time series",
        "description": "Accepts a JSON array or an object with a `series` key (3–10 numbers) and returns the next predicted value using log1p linear regression. The endpoint is gated by an x402 v2 micropayment; calling without a valid `PAYMENT-SIGNATURE` header returns HTTP 402 with the full payment terms.",
        "security": [{ "x402": [] }],
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Base64-encoded signed x402 v2 PaymentPayload (JSON)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": { "type": "number" },
                    "minItems": 3,
                    "maxItems": 10,
                    "example": [1.0, 2.3, 4.1, 6.8, 9.2]
                  },
                  {
                    "type": "object",
                    "required": ["series"],
                    "properties": {
                      "series": {
                        "type": "array",
                        "items": { "type": "number" },
                        "minItems": 3,
                        "maxItems": 10,
                        "example": [1.0, 2.3, 4.1, 6.8, 9.2]
                      },
                      "context": {
                        "type": "string",
                        "maxLength": 200,
                        "description": "Optional description of what this series represents (e.g. 'monthly revenue', 'daily active users'). Providing context helps easy-predict choose the best model for your data and is echoed back in the response.",
                        "example": "monthly revenue in USD"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prediction result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["prediction", "method", "slope", "intercept"],
                  "properties": {
                    "prediction": { "type": "number", "description": "Predicted next value (expm1 of the extrapolated log1p point)." },
                    "method":     { "type": "string", "enum": ["log1p-linear-extrapolation"] },
                    "slope":      { "type": "number", "description": "Regression slope in log1p space." },
                    "intercept":  { "type": "number", "description": "Regression intercept in log1p space." },
                    "context":    { "type": "string", "description": "Echoed back from the request if provided." }
                  }
                },
                "example": {
                  "prediction": 12.47,
                  "method": "log1p-linear-extrapolation",
                  "slope": 0.218,
                  "intercept": 0.093,
                  "context": "monthly revenue in USD"
                }
              }
            }
          },
          "400": { "description": "Invalid request — bad JSON, wrong type, or series outside 3–10 elements." },
          "402": {
            "description": "Payment Required — missing or invalid x402 v2 payment. Body and PAYMENT-REQUIRED header contain the payment terms.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": { "type": "string" },
                "description": "Base64-encoded JSON of the full PaymentRequired object (x402Version, resource, accepts)."
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentRequired" }
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "fixed":   { "mode": "fixed",   "currency": "USD", "amount": "0.01" },
            "dynamic": { "mode": "dynamic", "currency": "USD", "min": "0.01", "max": "0.01" }
          },
          "protocols": [{ "x402": {} }],
          "x402": {
            "version": 2,
            "resource": {
              "url": "https://easy-predict.com/timeseries",
              "description": "Predict the next value in a numeric series via log1p linear extrapolation.",
              "mimeType": "application/json"
            },
            "accepts": [{
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "amount": "10000",
              "payTo": "0xc99b83818c8865340AC55C45554f377f41c68DBC",
              "maxTimeoutSeconds": 60,
              "extra": { "name": "USD Coin", "version": "2" }
            }],
            "facilitator": "https://x402.org/facilitator"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI discovery document",
        "description": "This OpenAPI 3.1 document. Free to fetch — no payment required.",
        "security": [],
        "responses": {
          "200": { "description": "OpenAPI 3.1 document" }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 v2 resource discovery",
        "description": "Machine-readable list of paid x402 v2 resources and their PaymentRequirements, plus a pointer to /openapi.json. Free to fetch.",
        "security": [],
        "responses": {
          "200": {
            "description": "x402 v2 discovery payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["x402Version", "openapi", "resources"],
                  "properties": {
                    "x402Version": { "type": "integer", "example": 2 },
                    "openapi":     { "type": "string", "format": "uri" },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resource": { "$ref": "#/components/schemas/ResourceInfo" },
                          "method":   { "type": "string" },
                          "accepts":  { "type": "array", "items": { "$ref": "#/components/schemas/PaymentRequirements" } }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "x402Version": 2,
                  "openapi": "https://easy-predict.com/openapi.json",
                  "resources": [{
                    "resource": {
                      "url": "https://easy-predict.com/timeseries",
                      "description": "Predict the next value in a numeric series via log1p linear extrapolation.",
                      "mimeType": "application/json"
                    },
                    "method": "POST",
                    "accepts": [{
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "10000",
                      "payTo": "0xc99b83818c8865340AC55C45554f377f41c68DBC",
                      "maxTimeoutSeconds": 60,
                      "extra": { "name": "USD Coin", "version": "2" }
                    }]
                  }]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "x402 v2 micropayment. Send a base64-encoded signed PaymentPayload JSON. Omitting it returns HTTP 402 with exact payment terms in the `accepts` array."
      }
    },
    "schemas": {
      "ResourceInfo": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url":         { "type": "string", "format": "uri" },
          "description": { "type": "string" },
          "mimeType":    { "type": "string" }
        }
      },
      "PaymentRequirements": {
        "type": "object",
        "required": ["scheme", "network", "asset", "amount", "payTo", "maxTimeoutSeconds"],
        "properties": {
          "scheme":            { "type": "string", "example": "exact" },
          "network":           { "type": "string", "example": "eip155:8453" },
          "asset":             { "type": "string", "description": "ERC-20 contract address." },
          "amount":            { "type": "string", "example": "10000", "description": "Payment amount in atomic units (USDC has 6 decimals, so 10000 = $0.01)." },
          "payTo":             { "type": "string", "description": "EVM wallet address that receives payment." },
          "maxTimeoutSeconds": { "type": "integer", "example": 60 },
          "extra": {
            "type": "object",
            "properties": {
              "name":    { "type": "string" },
              "version": { "type": "string" }
            }
          }
        }
      },
      "PaymentRequired": {
        "type": "object",
        "required": ["x402Version", "resource", "accepts"],
        "properties": {
          "x402Version": { "type": "integer", "example": 2 },
          "error":       { "type": "string" },
          "resource":    { "$ref": "#/components/schemas/ResourceInfo" },
          "accepts":     { "type": "array", "items": { "$ref": "#/components/schemas/PaymentRequirements" } },
          "extensions":  { "type": "object" }
        }
      }
    }
  }
}
